---
import { Picture } from "astro:assets";
import showcaseAsset from "../../assets/imageforWebsite.png";

const showcaseSizes = "(max-width: 1200px) 96vw, 1100px";
---

<section class="showcase">
	<div class="showcase-wrap">
		<Picture
			class="showcase-img"
			src={showcaseAsset}
			formats={["avif", "webp"]}
			widths={[640, 960, 1200, 1600, showcaseAsset.width]}
			sizes={showcaseSizes}
			alt="Glyph app showcase"
			loading="eager"
			decoding="async"
			fetchpriority="high"
		/>
	</div>
</section>
