---
import showcaseAsset from "../../assets/imageforWebsite.png";

const showcaseSizes = "(max-width: 1200px) 96vw, 1100px";
const showcaseWidth = showcaseAsset.width;
const showcaseHeight = showcaseAsset.height;
---

<section class="showcase">
	<div class="showcase-wrap">
		<img
			class="showcase-img"
			src={showcaseAsset.src}
			sizes={showcaseSizes}
			width={showcaseWidth}
			height={showcaseHeight}
			alt="Glyph app showcase"
			loading="eager"
			decoding="async"
			fetchpriority="high"
		/>
	</div>
</section>
